footer{
    display: flex;
    justify-content: space-around;
    background-color: #654597;
    min-height: 15vh;
    align-items: center;
    font-family: "Delius", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 3vh;
    flex-wrap: wrap;
    gap:5vh;
    padding: 1rem;
}

.helpLinks{
    display: flex;
    flex-direction: column;
}
.socials, .githubSocials{
    display: flex;
    gap: 5vh;
}
footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.803);
    transition: transform 0.5s ease;
}

footer a:hover{
    transform: scale(1.2);
}

.copyright {
    color: rgba(255, 255, 255, 0.803);
}