header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    background-color: #654597;
    padding: 1rem;
    flex-wrap: wrap;
}
header img{
    width: 12rem;
    border-radius: 50%;
}
header h1{
    font-family: "Delius", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.803);
    
}