main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4vh;
    padding: 2rem;
    
    background-color: #d0efb1;
}

.buttonStyle{
    background-color: #4d7298;
}

.table td,th{
    background-color: #9dc3c2 !important;
}

